.login-Form{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20%;
    font-family: arial;
    border: 10px, 20px;
    border-color: rgb(20, 65, 216);
    border-style: groove;
    
}

.tela{
    display: flex;
    background-image:url(img/image.png) ;
    background-size: cover;
    backdrop-filter:blur(4px);
    align-items: center;
    margin: 0;
    padding: 0
    
}

